/node_modules
/package-lock.json
/build
/.DS_Store
/cpp/.DS_Store
/out.jpg
/out.png
/out_0.png
/out_1.png
/out_2.png
/out_3.png
/out_4.png
/out_5.png
/out_6.png
/out_7.png
/out_8.png
/out_9.png
/out_0.jpg
/out_1.jpg
/out_2.jpg
/out_3.jpg
/out_4.jpg
/out_5.jpg
/out_6.jpg
/out_7.jpg
/out_8.jpg
/out_9.jpg
